<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="InterfaceFactor100.My.MySettings.ProductionConnectionString"
            connectionString="Data Source=server-raid2;Initial Catalog=Production;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2015"
            providerName="System.Data.SqlClient" />
        <add name="InterfaceFactor100.My.MySettings.Factor100ConnectionString"
            connectionString="Data Source=server-raid2;Initial Catalog=Factor100;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2015"
            providerName="System.Data.SqlClient" />
        <add name="InterfaceFactor100.My.MySettings.ConnectionString"
            connectionString="Data Source=server-raid2;Initial Catalog=Production;Persist Security Info=True;User ID=User_PRO;Password=User_PRO2015" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>